---
import Layout from '../layouts/BaseLayout.astro';
import AboutImage from '../assets/about-me.jpg';
---

<Layout
	title="About Me"
	description="A little bit about me and my experience"
	heroImage={AboutImage}
>
  <p>Hello there, I'm Alex Hurd. I'm a graduate computer scientist based in Rotherham. I have experience working on the full
    web development stack, primarily focusing on ASP.NET with Razor Pages and tandem API access within a single
    application.</p>
  <p>I also have experience with:
  <ul>
	<li>Standalone API development in .NET, Python and Go</li>
    <li>Scripting with Python, C and C++</li>
    <li>Regression based Machine Learning Implementations</li>
    <li>Database creation and management</li>
    <li>AWS Cloud provisioning and basic management</li>
    <li>Linux server setup and management</li>
    <li>Physical networking</li>
  </ul>
  </p>
  <div>
    <img src="https://img.shields.io/badge/Python-3776AB?logo=python&amp;logoColor=fff">
    <img src="https://img.shields.io/badge/.NET-512BD4?logo=dotnet&amp;logoColor=fff">
    <img src="https://img.shields.io/badge/C-00599C?logo=c&amp;logoColor=white">
    <img src="https://img.shields.io/badge/C++-%2300599C.svg?logo=c%2B%2B&amp;logoColor=white">
    <img src="https://custom-icon-badges.demolab.com/badge/C%23-%23239120.svg?logo=cshrp&amp;logoColor=white">
    <img src="https://img.shields.io/badge/Linux-FCC624?logo=linux&amp;logoColor=white">
    <img src="https://img.shields.io/badge/Ubuntu-E95420?logo=ubuntu&amp;logoColor=white">
    <img src="https://img.shields.io/badge/AWS-%23FF9900.svg?logo=amazon-web-services&amp;logoColor=white">
    <img src="https://img.shields.io/badge/GitHub-%23121011.svg?logo=github&amp;logoColor=white">
    <img src="https://img.shields.io/badge/Postgres-%23316192.svg?logo=postgresql&amp;logoColor=white">
    <img src="https://img.shields.io/badge/SQLite-%2307405e.svg?logo=sqlite&amp;logoColor=white">
  </div>
      
    <a href="/">Go back to the homepage</a>
</Layout>
