---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Links" description="Links to other resources" heroImage={null}>
    <br/><br/>
    <p>
        Hello there, I'm Alex Hurd. I'm a graduate computer scientist based in Rotherham.
        I have experience working on the full web development stack,
        primarily focusing on ASP.NET with Razor Pages and tandem API access
        within a single application.
    </p>
    <p>Please see my links below:</p>
    <div>
        <ul>
            <li style="list-style-type: none;">
                <button
                    style="border: none; background: none; width: 100%; height: 15%; margin: 2px;"
                >
                    <a href="https://linkedin.com/in/alexzanderhurd/">
                        <img
                            src="https://img.shields.io/badge/-LinkedIn-black.svg?style=for-the-badge&logo=linkedin&colorB=555"
                            style="width: 75%; height: 100%;"
                        />
                    </a>
                </button>
            </li>
            <li style="list-style-type: none;">
                <button
                    style="border: none; background: none; width: 100%; height: 15%; margin: 2px;"
                >
                    <a href="https://github.com/Alexzander-Hurd">
                        <img
                            src="https://img.shields.io/badge/-GitHub-black.svg?logo=github&style=for-the-badge&colorB=555"
                            style="width: 75%; height: 100%;"
                        />
                    </a>
                </button>
            </li>
            <li style="list-style-type: none;">
                <button
                    style="border: none; background: none; width: 100%; height: 15%; margin: 2px;"
                                    >
                    <a href="/">
                        <img
                            src="https://img.shields.io/badge/-Website-black?style=for-the-badge&colorB=555"
                            style="width: 75%; height: 100%;"
                        />
                    </a>
                </button>
            </li>
        </ul>
    </div>
    <a href="/">Go back to the homepage</a>
</Layout>
