---
import Layout from "../layouts/BaseLayout.astro";
import HeroImage from "../assets/hero-image.jpg";
---

<Layout>
  <section class="text-center">
    <h2 class="text-4xl md:text-5xl font-bold mt-6">You're Offline 📴</h2>

    <p class="text-xl mt-4 text-gray-500">
      This page isn’t available because you’re not connected to the internet.
    </p>

    <p class="text-lg mt-2 text-gray-400">
      Pages you’ve visited before may still work offline thanks to caching.
    </p>
  </section>
</Layout>

